body {
    position: relative;
}

.mainForm {
    position: relative;
    min-height: calc(100vh - 56px - 30px);
    max-height: none;
}

.mainForm h1 {
    margin: 60px 0px 40px 0px;

    text-align: center;
    font-size: 1.2em;

    color: var(--tertiary-color)
}

.mainForm form {
    margin: auto;
    padding: 10px;

    max-width: 350px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainForm .input {
    margin: 10px 0px;
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.mainForm .input label {
    margin-bottom: 5px;
    font-weight: 600;

    font-family: var(--text-font);
    font-size: 1em;
    color: var(--tertiary-color)
}

.mainForm .input label::after {
    content: ":";
}

.mainForm .input input {
    padding: 7px;
    background-color: var(--main-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    outline: none;
    color: var(--tertiary-color);

    font-family: var(--text-font);
    font-size: 1em;
    transition: all 0.2s ease-in-out;
}

.mainForm .input input::placeholder {
    color: var(--placeholder-color);
}

.mainForm .input input:focus {
    border: 1px solid var(--red-color);
}

.mainForm .inputSubmit {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.mainForm .inputSubmit.inputSolo {
    justify-content: end;
}

.mainForm .inputSubmit .cancel {
    padding: 7px 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    outline: none;
    color: var(--tertiary-color);

    font-family: var(--text-font);
    font-size: 1em;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.mainForm .inputSubmit .cancel:hover {
    color: var(--red-color);
}

.mainForm .inputSubmit input {
    padding: 7px 10px;
    background-color: var(--main-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    outline: none;
    color: var(--tertiary-color);

    font-family: var(--text-font);
    font-size: 1em;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.mainForm .inputSubmit input:hover {
    background-color: var(--red-color);
}

.mainForm form.search .input div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.mainForm form.search .input div input.value {
    width: 100%;
}

.mainForm form.search .input div input.search {
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    cursor: pointer;
}

.mainForm form.search .input div input.search:hover {
    background-image: url(../images/search-hover.svg);
}

.mainForm input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.mainForm input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    color: var(--tertiary-color);
}

.mainForm .inputArray {
    border: 3px solid var(--main-color);
    border-radius: 20px;
    margin: 10px auto;
    margin-bottom: 30px;
    padding: 20px;
    padding-bottom: 25px;
}

.mainForm .item .inputArray {
    border: 3px solid var(--secondary-color);
}

.mainForm .inputArray hr {
    border: 1px solid var(--main-color);
    margin: 10px 0px 20px 0px;
}

.mainForm .item .inputArray hr {
    border: 1px solid var(--secondary-color);
}

.mainForm .formInput {
    text-align: left;
    padding: 0px;

    display: flex;
    justify-content: left;
    align-items: baseline !important;
    flex-direction: column;
}

.mainForm .formInput .inputSubmit {
    margin-top: 10px;
    justify-content: end;
}

.mainForm .formInput .inputSubmit input {
    background-image: url(../images/addIcon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 32px;
    width: 32px;
}

.mainForm .formInput .inputSubmit input:hover {
    background-color: var(--main-color);
    background-image: url(../images/addIcon-hover.svg);
}

.mainForm .tableInput {
    color: var(--tertiary-color);
}

.mainForm .tableInput th {
    background-color: var(--main-color);
    padding: 7px;
    text-align: left;
    font-size: 0.9em;
    font-weight: 600;
}

.mainForm .item .tableInput th {
    background-color: var(--secondary-color);
}

.mainForm .tableInput td {
    padding: 5px;
    text-align: left;
    font-size: 0.9em;
    font-family: var(--text-font);
}

.mainForm .tableInput .center {
    text-align: center;
}

.mainForm .sendForm {
    max-width: 350px;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainForm .sendForm .cancel {
    padding: 7px 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    outline: none;
    color: var(--tertiary-color);

    font-family: var(--text-font);
    font-size: 1em;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.mainForm .sendForm .cancel:hover {
    color: var(--red-color);
}

.mainForm .sendForm input {
    padding: 7px 10px;
    background-color: var(--main-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    outline: none;
    color: var(--tertiary-color);

    font-family: var(--text-font);
    font-size: 1em;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.mainForm .sendForm input:hover {
    background-color: var(--red-color);
}