.mainCliente {
    min-height: calc(100vh - 56px - 30px);
    height: 100%;
    color: var(--tertiary-color);
}

.mainCliente h1 {
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.mainCliente h1::after {
    content: " -";
}

.mainCliente h1::before {
    content: "- ";
}

.mainCliente .navegacao {
    border: 4px solid var(--main-color);
    border-radius: 20px;
    margin: auto;
    padding: 20px 40px;
    max-width: 400px;
    min-width: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 40px;
}

.mainCliente .navegacao a {
    display: block;
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.mainCliente .navegacao a:hover {
    color: var(--red-color);
}

.mainCliente .menu table {
    /*
    margin: 0px -20px 0px -20px;
    width: calc(100% + 40px);
    */
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    border-radius: 10px;
}

.mainCliente .menu table th {
    background-color: var(--main-color);
}

.mainCliente .menu table th, .mainCliente .menu table td {
    padding: 10px;
    border: 4px solid var(--main-color);
}

.mainCliente .menu table td a {
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.mainCliente .menu table td a:hover {
    color: var(--red-color);
}

.mainCliente .menu table td.id {
    width: 50px;
}

.mainCliente .menu table td.center {
    text-align: center;
}

.mainCliente .menu table td.center a {
    display: block;
    font-weight: 800;
    margin: auto;
}